nav>ul{
    background-color: cornflowerblue;
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
}
nav>ul>li{
    float:left;
    padding-bottom:10px;
    
}

nav ul li a{

    display:block;
    color: #000000;
    text-align:center;
    padding: 13px 65px;
    padding-top: 25px;
    text-decoration: none;
    
    
}

#logo{
    text-align: right;

}
main{
    text-align: center;
}

/*footer styling */

footer{
    background-color: cornflowerblue;
    width: 1265px;height:200px;
    margin: left auto;
    margin: right auto;
    clear: both;
    padding: 0;
}

h4{
  text-align: center;
}

footer>.grid-container8 .grid-50 {
  padding-left: 100px;
  padding-top: 20px;
}

/* Gallery styling */
.grid-container8 .grid-25{
 
  padding-bottom: 5px;
  margin-bottom: 10px;  
}

.grid-container9 .grid-25{
 
  padding-bottom: 5px;
  margin-bottom: 10px;  
}

.grid-container10 .grid-25{
 
  padding-bottom: 5px;
  margin-bottom: 10px;  
}

.grid-container11 .grid-25{
 
  padding-bottom: 5px;
  margin-bottom: 10px;  
}

.grid-container12 .grid-25{
 
  padding-bottom: 5px;
  margin-bottom: 10px;  
}



body{
  background-color:lightgrey
}

/* Login styling starts here*/
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: cornflowerblue;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
}


button:hover {
  opacity: 0.8;
}



/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.display {
  width: 30%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: left;
  padding-top: 0;
  
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) Login */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color:cornflowerblue;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 30px) {
  span.psw {
     display: block;
     float: none;
  }
  .SignUpbtn {
     width: 30%;
  }
}

/* Forgot password page styling */
.form-container {
 padding-left: 365px;
 width: 500px;
 align-items: center;
}


/*get measured page styling */
.grid-container1 .grid-45{
    margin-left: 40px;
    padding: auto;
    margin-bottom: 20px;  
}

.grid-container2 .grid-45{
  margin-left: 40px;
  padding: auto;
  margin-bottom: 20px;
}

.grid-container3 .grid-45{
  margin-left: 40px;
  padding: auto;
  margin-bottom: 20px; 
}

.grid-container4 .grid-45{
  margin-left: 40px;
  padding: auto;
  margin-bottom: 20px; 
}

.grid-container7 .grid-45{
  margin: left 40px;
}
